#rec551273201 {
    width: 500px;
    height: 500px;
    background-color: rgb(133, 202, 179);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border: 1px solid black;
}
